<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCXGZCyVH2zvdOebKYjvLzehViA1E1LXPY</string>
	<key>GCM_SENDER_ID</key>
	<string>795333874803</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testProject1234.stg</string>
	<key>PROJECT_ID</key>
	<string>test-app-staging-f51e9</string>
	<key>STORAGE_BUCKET</key>
	<string>test-app-staging-f51e9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:795333874803:ios:b06d8010dd548a4c11c606</string>
</dict>
</plist>